html {
    background-color: #333333;
}

body {
    margin: 0;
    font: 18px Arial;
    background-color: #ffffff;
}

main {
    padding: 0 15px;
}

nav {
    background-color: #333333;
    padding: 18px 0;
}

nav ul {
    margin: 0;
    list-style-type: none;
}

nav ul li {
    padding: 16px;
    display: inline;
}

nav ul li a {
    color: #cccccc;
    text-decoration: none;
}

#headerContent {
    text-align: center;
    height: 650px;
    background-image: url("img/header.jpg");
    background-size: cover;
}

.header-text {
    margin-top: 200px;
    color: #fff;
    display: inline-block;
}

.header-text h1,
.header-text h2 {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 10px;
}

.homepage-text {
    padding: 10px;
    font-size: 24px;
    line-height: 35px;
    max-width: 960px;
    margin: 20px auto;
}

.resource {
    color: #000000;
    text-decoration: none;
    font-size: 19px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 25px;
    display: block;
    padding: 5px 20px;
    max-width: 960px;
    margin: auto;
    margin-bottom: 25px;
}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 5px;
}

.book {
    display: flex;
    align-items: center;
}

.author {
    font-style: italic;
    color: #555555;
}
